aws_access_key = "access"
aws_secret_key = "secret"
vpc_cidr_blocks = "10.0.0.0/16"
subnet_cidr_blocks = "10.0.10.0/24"
availability_zone = "ap-northeast-1a"
env_prefix = "dev"
my_ip = "1.2.3.4/32"
instance_type = "t2.micro"
ssh_public_key_location = "/path/to/your/public/key"
image_name = "amzn2-ami-kernel-*-x86_64-gp2"